*/*/mjkey.txt
**/.DS_STORE
**/*.pyc
**/*.swp
rlkit/launchers/config.py
rlkit/launchers/conf_private.py
MANIFEST
*.egg-info
\.idea/
/data
actions.txt
next_observations.txt
observations.txt
actions.npy
next_observations.npy
observations.npy
.vscode/launch.json
test.npy
